@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
	--white: #fff;
	--purple300: #BBC0FF;
	--purple400: #7078C9;
	--purple-background: #1C204B;
}
* {
	box-sizing: border-box;
}
body {
	background-color: #0e1223;
	margin: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Rubik, Arial, sans-serif;
	font-size: 15px;
	line-height: 1em;
}
main {
	display: flex;
	justify-content: space-between;
	max-width: 1050px;
}
#profile {
	max-width: 255px;
	margin: 0 30px 0 0;
	border-radius: 15px;
	background-color: var(--purple-background);
	font-size: 18px;
	line-height: 1.16em;
	color: var(--purple400);
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
#profile-head {
	background-color: #5747EA;
	padding: 32px;
	color: var(--purple300);
	border-radius: 15px;
	flex-grow: 1;
}
#profile-picture {
	border-radius: 50%;
	max-width: 78px;
	height: 78px;
	border: 2px solid var(--white);
	margin: 0 0 32px;
	display: block;
}
#profile-filter {
	padding: 32px;
}
h1 {
	font-weight: 300;
	font-size: 40px;
	line-height: 1.175em;
	color: var(--white);
	margin: 0;
}
h2 {
	font-weight: 300;
	font-size: 56px;
	line-height: 1.18em;
	color: var(--white);
	margin: 24px 0 0;
}
h2 small {
	display: block;
	font-size: 15px;
	line-height: 1.2em;
	color: var(--purple300);
}
h3 {
	font-size: 18px;
	line-height: 1.16em;
	font-weight: 500;
	color: var(--white);
	margin: 0;
}
p {
	margin: 0;
}
p:not(:last-of-type) {
	margin: 0 0 21px;
}
#card-board {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.card {
	width: 255px;
	-webkit-border-radius: 20px;
	-webkit-border-top-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	-moz-border-radius: 20px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright: 15px;
	border-radius: 20px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	padding: 45px 0 0;
}
.card:nth-of-type(1), .card:nth-of-type(2), .card:nth-of-type(3) {
	margin-bottom: 30px;
}
.card-content {
	background-color: var(--purple-background);
	border-radius: 15px;
	padding: 30px;
}
.card-content-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--purple300);
	font-size: 24px;
	line-height: 1em;
	font-weight: 700;
}
.active {
	color: var(--white);
}
.dnone {
	display: none;
}
#work {
	background: url(images/icon-work.svg) top -10px right 21px no-repeat;
	background-size: 78px;
	background-color: #FF8B64;
}
#play {
	background: url(images/icon-play.svg) top -10px right 21px no-repeat;
	background-size: 90px;
	background-color: #55C2E6;
}
#study {
	background: url(images/icon-study.svg) top -10px right 21px no-repeat;
	background-size: 78px;
	background-color: #FF5E7D;
}
#exercise {
	background: url(images/icon-exercise.svg) top 0 right 21px no-repeat;
	background-size: 79px;
	background-color: #4BCF82;
}
#social {
	background: url(images/icon-social.svg) top -10px right 21px no-repeat;
	background-size: 73px;
	background-color: #7335D2;
}
#selfcare {
	background: url(images/icon-self-care.svg) top -10px right 21px no-repeat;
	background-size: 72px;
	background-color: #F1C75B;
}
button {
	background-color: inherit;
	border-radius: 0;
	border: 0;
	display: block;
	padding: 0;
	margin: 0;
	font-family: Rubik, Arial, sans-serif;
	font-size: 15px;
	line-height: 1em;
	color: var(--purple400);
	cursor: pointer;
}
button:not(:last-of-type) {
	margin: 0 0 21px;
}		
@media screen and (max-width: 500px) {
	body {
		justify-content: flex-start;
		align-items: flex-start;
	}
	main {
		flex-direction: column;
		padding: 24px;
	}
	.card {
		width: 100%;
	}
	.card:not(:last-of-type) {
		margin: 0 0 24px;
	}
	#profile {
		max-width: 100%;
		margin: 0 0 24px;
	}
	#profile-filter {
		display: flex;
		justify-content: space-between;
	}
	button {
		margin: 0 !important;
	}
	#profile-head {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	h1 {
		font-size: 24px;
		line-height: 1.17em;
	}
	#profile-picture {
		margin: 0;
		width: 64px;
		height: 64px;
	}
	h2 {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 32px;
		line-height: 1em;
	}
}